<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <title>User</title>
</head>
<body>
<div class="container-fluid">
  <!-- верхний хэдер -->
  <div class="row">
    <div class="col p-0">
      <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-text" style="color:white">
            [[${#httpServletRequest.remoteUser}]] with roles:
            <tr th:each="userRole : ${user.getRoles()}">
              <td th:text="${userRole.getRoleName().substring(5)}"></td>
            </tr>
          </span>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <!--    Конец хедера-->

  <!--    Ботва слева-->

  <div class="row">
    <div class="col-1 bg-white pt-4 min-vh-100 px-0 ">
      <div class="container-fluid px-0">
        <ul class="nav flex-column nav-pills ">
          <!--                    <li class="nav-item">-->
          <!--                        <a class="nav-link active" aria-current="page" href="pipiskaadmin">Admin</a>-->
          <!--                    </li>-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="user">User</a>
          </li>
        </ul>
      </div>
    </div>

    <!--Ботва слева закончилась-->

    <!--Основной блок центра-->

    <div class="col pl-4 pr-4 bg-light min-vh-100">
      <div class="row pt-3 ">
        <div class="col"><h1 class="display-4">User information-page</h1></div>
      </div>

      <div class="col border border-top-0">

        <div class="row ">
          <div class="col border border-left-0 border-right-0 p-3 mb-3"><h4><strong>About user</strong></h4>
          </div>
        </div>
        <table class="table table-striped">
          <thead class="table-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <!--<th class="col-1">Password</th>-->
            <th scope="col">Email</th>
            <th scope="col">Role</th>
          </tr>
          </thead>

          <tbody>
          <th:block th:each="user : ${user}">
            <tr>
              <td th:text="${user.getId()}">...</td>
              <td th:text="${user.getUsername()}">...</td>
              <td th:text="${user.getName()}">...</td>
              <td th:text="${user.getSurname()}">...</td>
              <!--<td th:text="${user.password}">...</td>-->
              <td th:text="${user.getEmail()}">...</td>
              <td>
                <th:block th:each="role : ${user.getRoles()}">
                  <span th:text="${role.getRoleName()}"></span>
                </th:block>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


</body>
</html>